@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-accent: #8b5cf6;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}